{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div id="content">
			<div id="panel">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title"><h1><img src="{% static "img/logo.png" %}" id="logo"/>RapApp!!</h1></div>
					</div>
					<div class="panel-body">

					 	<div>
						    <form id="add_table">
						    	<label for="table_name">Table name:</label><input class="form-control" type="text" id="table_name" />
						    	<input class="btn btn-info" type="button" value="Add table" id="add_table_btn" />
						    </form>
						</div>

						<br>

					 	<!-- Single button -->
						<div class="btn-group">

						<a class="genscript btn btn-default" id="rapapp">RapApp!!</a>

						</div>
						<br>
					 	
					 	<form id="edit_form">
					 		<h5></h5>
					 	</form>	
					</div>
				</div>
			 	
			</div>
			<div id="svgarea">
		  	<div id="workarea">
				</div>
			</div>
		</div>


{% endblock %}


{% block js %}


<script type="text/javascript" src="{% static "js/config.js" %}"></script>
<script type="text/javascript" src="{% static "js/db.js" %}"></script>
<script type="text/javascript" src="{% static "js/drawing.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.svg.min.js" %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#svgarea').svg();
	});
</script>

{% endblock %}


{% block css %}

<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

{% endblock %}